@using App.Models
@{
    ViewData["Title"] = "Home Page";
    var products = ViewBag.products as List<App.Models.Product.ProductModel>;
    var posts = ViewBag.posts as List<App.Models.Blog.Post>;
}

<partial name="_AlertMessage"></partial>

<h2>Các sản phẩm</h2>

<div class="d-flex justify-content-between flex-wrap">

    @foreach (var product in products)
    {
        var ImgSrc = "/contents/no-image.jpg";
        if (product.Photos.Count() > 0)
        {
            ImgSrc = $"/contents/Products/{product.Photos.FirstOrDefault().FileName}";
        }
        <div class="card mb-2" style="width: 24%;">
            <img src="@ImgSrc" class="card-img-top" alt="@ImgSrc">
            <div class="card-body">
                <h5 class="card-title">@product.Title</h5>
                <p class="card-text">@product.Description</p>
                <p class="card-text text-danger">
                    <strong class="text-success">
                        @{
                            List<string> cateList = new List<string>();
                            foreach (var postcate in product.ProductCategories)
                            {
                                cateList.Add(postcate.Category.Title);
                            }
                        }
                        @string.Join(", ", cateList)
                    </strong>
                </p>
                <a asp-action="Details" asp-controller="ViewProduct" asp-area="Product"
                    asp-route-productslug="@product.Slug" class="card-link">Chi tiết</a>
                <a asp-action="AddToCart" asp-controller="ViewProduct" asp-area="Product" asp-route-productid="@product.ProductID" class="btn btn-primary ml-4">Mua ngay</a>
            </div>
        </div>
    }
</div>

<h2>Tin tức</h2>

@foreach (var post in posts)
{
    <div class="media  border-bottom pb-2 mb-4">
        <img src="/contents/no-image.jpg" class="mr-3 border img-thumbnail" alt="Hình ảnh" width="150">
        <div class="media-body">
            <h5 class="mt-0">
                <a asp-action="Details" asp-controller="ViewPost" asp-area="Blog" asp-route-postslug="@post.Slug">
                    @post.Title
                </a>
            </h5>
            <p>
                @post.Description
            </p>
            <p>Danh mục:
                <strong class="text-success">
                    @{
                        List<string> cateList = new List<string>();
                        foreach (var postcate in post.PostCategories)
                        {
                            cateList.Add(postcate.Category.Title);
                        }
                    }
                    @string.Join(", ", cateList)
                </strong>
            </p>
            <p class="author-row">Tác giả: <strong>@post.Author.UserName</strong></p>
            <p class="date-row">Ngày tạo: <i>@post.DateCreated.ToShortDateString()</i></p>
        </div>
    </div>
}
